// /* ==========================================================================
//    #COLOR-VARIABLES
//    ========================================================================== */

$color-fontBody: #323232;

$colors: (
  paleBlue: #e5f1ff,
  steelBlue: #3a7ca5,
  white: #ffffff,
  burntOrange: #f4a261,
  teal: #2a9d8f,
  darkBlue: #1d3557,
  beige: #f5e6cc,
  dustyRose: #b56576,
  lightApricot: #f2d6b2,
  goldenrod: #d9bf77,
  sageGreen: #7e8f7c,
  burgundy: #5c2b35,
  charcoal: #463f3a,
  midnightBlue: #1e1e2c,
  darkSlateBlue: #2d3142,
  deepMagenta: #6a0572,
  rubyRed: #f03434,
  lightGrey: #f0f0f0,
  gold: #ffd700,
  hotPink: #ff69b4,
  orange: #ffa500,
  limeGreen: #00ff00,
  blue: #0000ff,
  darkViolet: #9400d3,
  red: #ff0000,
  greenishBeige: #f0f4c3,
  amber: #ffd54f,
  skyBlue: #81d4fa,
  salmon: #ff8a65,
  darkGray: #333333,
  lightPink: #f9ebea,
  sunflowerYellow: #f7dc6f,
  gainsboroGray: #d5dbdb,
  melonRed: #ff6b6b,
  oceanBlue: #61a5c2,
  darkCharcoal: #333a3f,
);
