/* ==========================================================================
   #SPACING-VARIABLES
   ========================================================================== */

//spacing-size variables
$st-screen-width: 1440;
$st-body: 20;
$st-body-min: 1rem;
$st-body-max: 1.375rem;
$st-body-vw: $st-body / $st-screen-width * 100vw;

$st-sizes: (
  wide: 40,
  normal: 35,
  moderate: 30,
  narrow: 25,
);
