@import "../02-tools/tools.functions";

$day: (
  pageBackground: color(grainBrown),
  headerBackground: color(deluge),
  headerFont: color(sunglo),
  cardBackground: color(sunglo),
  cardHeader: color(marigoldYellow),
  cardHeaderFont: color(sunglo),
  cardButton: color(marigoldYellow),
  cardButtonFont: color(sunglo),
);

$night: (
  pageBackground: color(blumine),
  headerBackground: color(tamarind),
  headerFont: color(royalHeath),
  cardBackground: color(royalHeath),
  cardHeader: color(deepBlush),
  cardHeaderFont: color(blumine),
  cardButton: color(deepBlush),
  cardButtonFont: color(blumine),
);

$rainbow: (
  pageBackground: color(fern),
  headerBackground: color(denim),
  headerFont: color(corn),
  cardBackground: color(tapestry),
  cardHeader: color(corn),
  cardHeaderFont: color(tapestry),
  cardButton: color(denim),
  cardButtonFont: color(corn),
);
