// /* ==========================================================================
//    #COLOR-VARIABLES
//    ========================================================================== */

$color-fontBody: #323232;

$colors-pastelPink: (
  background: #eeccd3,
  foreground: #145587,
);

$colors-teal: (
  background: #80c4b7,
  foreground: #ef3729,
);

$colors-butterYellow: (
  background: #eec95c,
  foreground: #e3778d,
);

$colors-papayaOrange: (
  background: #e3856b,
  foreground: #24527d,
);
