// /* ==========================================================================
//    #TYPOGRAPHY-VARIABLES
//    ========================================================================== */

@font-face {
  font-family: "Dosis";
  src: url("../../fonts/Dosis-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Averia";
  src: url("../../fonts/AveriaSansLibre-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: url("../../fonts/PTSansCaption-Regular.ttf") format("truetype");
  font-weight: 400;
}

$font-headings: "Dosis", sans-serif;
$font-subheadings: "Averia", sans-serif;
$font-body: "PTSans", sans-serif;

//font-size variables
$ft-screen-width: 1440;
$ft-body: 20;
$ft-body-min: 1rem;
$ft-body-max: 1.375rem;
$ft-body-vw: $ft-body / $ft-screen-width * 100vw;

$ft-sizes: (
  h1: 40,
  h2: 35,
  h3: 30,
  h4: 25,
  small: 20,
);
