// /* ==========================================================================
//    #BREAKPOINTS-VARIABLES
//    ========================================================================== */

$bkp-mobile: 320px;
$bkp-phablet: 640px;
$bkp-tablet: 768px;
$bkp-desktop: 980px;
$bkp-wide: 1280px;
$bkp-hd: 1920px;

$breakpoints: (
  mobile: "screen and (min-width: #{$bkp-mobile})",
  phablet: "screen and (min-width: #{$bkp-phablet})",
  tablet: "screen and (min-width: #{$bkp-tablet})",
  desktop: "screen and (min-width: #{$bkp-desktop})",
  wide: "screen and (min-width: #{$bkp-wide})",
  hd: "screen and (min-width: #{$bkp-hd})",
);

// /**
//  * Breakpoints needed for sass-mq mixin
//  */

@mixin responsive($size) {
  $query: map-get($breakpoints, $size);

  @media #{$query} {
    @content;
  }
}
