// /* ==========================================================================
//    #COLOR-VARIABLES
//    ========================================================================== */

$color-fontBody: #323232;

$colors-pastelPink: (
  background: #eeccd3,
  foreground: #145587,
);

$colors-teal: (
  background: #80c4b7,
  foreground: #ef3729,
);

$colors-butterYellow: (
  background: #eec95c,
  foreground: #e3778d,
);

$colors-papayaOrange: (
  background: #e3856b,
  foreground: #24527d,
);

$colors: (
  mineShaft: #323232,
  ////day
  ///back
  marigoldYellow: #faef7c,
  ///fore
  //sunglo
  ///back
  grainBrown: #e3ccb2,
  ///fore
  //deluge
  ///back
  sunglo: #e26274,
  ///fore
  //marigoldYellow
  ///back
  deluge: #78589f,
  ///fore
  //sunglo
  ////night
  ///back
  deepBlush: #e17888,
  ///fore
  //blumine
  ///back
  royalHeath: #ae3b8b,
  ///fore
  //deepBlush
  ///back
  blumine: #1c5789,
  ///fore
  //tamarind
  ///back
  tamarind: #341514,
  ///fore
  //royalHeath
  ////rainbow
  ///back
  denim: #1d71ba,
  ///fore
  //corn
  ///back
  corn: #edc400,
  ///fore
  //tapestry
  ///back
  tapestry: #b25690,
  ///fore
  ///denim
  ///back
  fern: #71b379,
  ///fore
  //corn,
);
