.c-theme-buttons {
  text-align: right;
  font-size: var(--ft-size-h3);

  div {
    display: inline-block;
    @include theme(color, themeColor2);

    &.active {
      @include theme(color, themeColor2Contrast);
      font-size: var(--ft-size-h1);
    }

    &:hover {
      transform: scale(1.5);
    }
  }

  & svg {
    margin-left: var(--st-size-narrow);
    cursor: pointer;
  }
}
