.board-row {
  .square {
    @include theme(background, themeColor5);
    @include theme(color, themeColor5Contrast);
    font-family: $font-subheadings;
    border: 1px solid #999;
    float: left;
    font-size: var(--ft-size-h2);
    font-weight: bold;
    line-height: 4rem;
    height: 4rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 4rem;
  }

  &:nth-child(1) {
    .square:nth-child(1) {
      border-top-left-radius: 1rem;
    }
    .square:nth-child(3) {
      border-top-right-radius: 1rem;
    }
  }
  &:nth-child(3) {
    .square:nth-child(1) {
      border-bottom-left-radius: 1rem;
    }
    .square:nth-child(3) {
      border-bottom-right-radius: 1rem;
    }
  }

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
