.c-entry-card {
  max-width: 30vw;
  background: map-get($colors-teal, background);
  padding: var(--st-size-wide);
  margin-top: var(--st-size-wide);
  border-radius: 2rem;

  &__content {
    font-family: $font-body;
    font-size: var(--ft-size-body);
  }

  &__footer {
    font-family: $font-subheadings;
  }

  &__header {
    font-family: $font-headings;
    font-size: var(--ft-size-h2);
    margin: 0;
  }
}
