.c-btn {
  background: map-get($colors-teal, foreground);
  color: map-get($colors-teal, background);
  border: 0;
  border-radius: 50%;
  width: var(--st-size-wide);
  height: var(--st-size-wide);
  margin-left: var(--st-size-narrow);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--ft-size-h4);
  cursor: pointer;
}
