.c-site-header {
  @include theme(background, themeColor2);
  font-family: $font-headings;
  min-height: 5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  h1 {
    @include theme(color, themeColor2Contrast);
    font-size: var(--ft-size-h1);
    margin: 0;
    text-transform: uppercase;
  }

  nav {
    ul {
      list-style: none;
      display: flex;

      li {
        margin-left: var(--st-size-wide);

        &:hover {
          transform: scale(1.5);
        }

        a {
          font-size: var(--ft-size-h2);
          @include theme(color, themeColor2Contrast);
        }
      }
    }
  }

  &--secondary {
    flex-basis: 100%;
    @include theme(background, themeColor1);
    min-height: 2.5rem;
    padding-bottom: 0;
    justify-content: center;

    div {
      a {
        @include theme(color, themeColor2);
        font-size: var(--ft-size-h2);
      }

      &:hover {
        transform: scale(1.5);
      }
    }
  }
}
