.c-entry-card {
  max-width: 30vw;
  background: map-get($colors-teal, background);
  padding: map-get($spacers, 6);
  border-radius: map-get($spacers, 6);

  &__content {
    font-family: $font-body;
  }

  &__footer {
    font-family: $font-subheadings;
  }

  &__header {
    font-family: $font-headings;
    font-size: $large;
    margin: 0;
  }
}
