.c-site-header {
  @include theme(background, headerBackground);
  font-family: $font-headings;
  min-height: 5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  h1 {
    @include theme(color, headerFont);
    font-size: var(--ft-size-h1);
    margin: 0;
    text-transform: uppercase;
  }

  nav {
    ul {
      list-style: none;
      display: flex;

      li {
        margin-left: var(--st-size-wide);

        a {
          font-family: $font-subheadings;
          font-size: var(--ft-size-h2);
          @include theme(color, headerFont);
          // @include anchorHover(
          //   map-get($colors-papayaOrange, foreground),
          //   map-get($colors-pastelPink, background),
          //   map-get($colors-teal, background),
          //   map-get($colors-butterYellow, background)
          // );
        }
      }
    }
  }
}
