// ///* ========================================================================
// //   #ON-EVENT
// //   ======================================================================== */

@mixin anchorHover($start-val, $hover-val1, $hover-val2, $hover-val3) {
  background: linear-gradient(to right, $start-val, $start-val),
    linear-gradient(to right, $hover-val1, $hover-val2, $hover-val3);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;

  &:hover {
    background-size: 0 3px, 100% 3px;
  }
}
