// ///* ========================================================================
// //   #ON-EVENT
// //   ======================================================================== */

@mixin anchorHover($gradient) {
  @each $theme in $themes {
    @if (themeExists($gradient, $theme)) {
      $colors: getThemeValue($gradient, $theme);
      $value1: nth($colors, 1);
      $value2: nth($colors, 2);
      $value3: nth($colors, 3);
      $value4: nth($colors, 4);
      @at-root .#{$theme} #{&} {
        background: linear-gradient(
            to right,
            var(--theme-#{$theme}-#{$gradient}, #{$value1}),
            var(--theme-#{$theme}-#{$gradient}, #{$value1})
          ),
          linear-gradient(
            to right,
            var(--theme-#{$theme}-#{$gradient}, #{$value2}),
            var(--theme-#{$theme}-#{$gradient}, #{$value3}),
            var(--theme-#{$theme}-#{$gradient}, #{$value4})
          );
        background-size: 100% 3px, 0 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;

        &:hover {
          background-size: 0 3px, 100% 3px;
        }
      }
    } @else {
      @error "Property #{$key} doesn't exist in #{$theme}";
    }
  }
}
