@mixin spacingSizeVar($name, $size) {
  $proportion: $size / $st-body;
  $min: $st-body-min * $proportion;
  $max: $st-body-max * $proportion;
  $vw: $st-body-vw * $proportion;
  --st-size-#{$name}: clamp(#{$min}, #{$vw}, #{$max});
}
